<footer class="page-footer font-small bg-white pt-4 mt-5">

	<!-- Footer Text -->
	<div class="col-12 col-sm-12 offset-md-1 col-md-10 offset-lg-1 col-lg-10 text-center text-md-left ">

	  <div class="row py-3">

		<!-- Grid column -->
		<div class="col-md-6 mt-md-0 mt-3">
			
		  <!-- Content -->
		  <h5 class="pb-3 font-weight-bold">겨울나기</h5>
		  <p>즐거운 겨울나기를 위한 다양한 즐길거리들!</p>
		  <p>KW 해커톤에서 시작된 프로젝트입니다.</p>

		</div>

		<!-- Grid column -->
		<div class="col-md-6 mb-md-0 mb-3">

		  <!-- Content -->
		  <h5 class="text-uppercase font-weight-bold">Contact</h5>
		  <p>admin@kw-winter.com</p>

		</div>
		<!-- Grid column -->

	  </div>
	  <!-- Grid row -->

	</div>
	<div class="footer-copyright text-center py-3" style='background-color:#f9f9f9'>© 2018 Copyright <span>겨울나기</span>
	</div>

  </footer>